* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  color: #303030;
}
/* Header */
header {
  background-color: aqua;
}
.active {
  color: red;
}
.item {
  background-color: gray;
}

/* Main */
main {
  background-color: yellowgreen;
  flex: 1 0 auto;
}

/* Footer */
footer {
  background-color: bisque;
}
