:root {
  --color-accent: #ff6c00;
  --text-grey-color: #555555;
  --text-light-grey: #9da4bd;
  --bg-black-color: #191c26;
  --text-white-color: #ffffff;
  --bg-white-color: #ffffff;
  --bg-darker-white: #f7f7f7;
  --dark-text-color: #303030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: var(--dark-text-color);
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

img {
  display: block;
}

.container {
  padding: 40px 30px;
}

/* HEADER */
header {
  background-color: var(--bg-black-color);
  position: fixed;
  z-index: 99;
  padding: 10px;
  width: 100%;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-button {
  margin: 0 0 0 auto;
  color: var(--text-white-color);
}

.header-nav-links {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 100%;
  padding: 10px;
  text-align: right;
  background-color: var(--bg-black-color);
  display: none;
}

#nav-toggle {
  display: none;
}

#nav-toggle:checked ~ ul {
  display: block;
}

.header-nav-links li {
  margin-bottom: 10px;
}

.header-nav-links a {
  color: var(--text-white-color);
}

.header-nav-links a:hover {
  color: var(--color-accent);
}
.booking-btn {
  display: none;
}

.active {
  color: var(--color-accent);
}

/* MAIN */
main {
  margin-top: 57px;
}
section {
  scroll-margin-top: 57px;
}

/* Hero section */
#hero {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.8),
      rgba(25, 28, 38, 0.8)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--black-color);
  padding: 110px 30px 110px;
}

#hero h1 {
  position: relative;
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--text-white-color);
}

.hero-pre-title {
  position: absolute;
  top: 125px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--text-light-grey);
}
.hero-text {
  max-width: 325px;
  line-height: 1.7;
  color: var(--text-light-grey);
}

/* About section */
#about {
  background-color: var(--bg-white-color);
}
#about h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--dark-title-color);
}
#about p {
  color: var(--text-grey-color);
  font-size: 16px;
}
.img-wrap {
  display: none;
}
.about-text {
  font-size: 14px;
  line-height: 1.8;
  margin: 20px 0 40px 0;
}
.about-btn {
  padding: 12px 20px;
  color: var(--black-color);
  text-transform: uppercase;
  border: 1px solid var(--color-accent);
  border-radius: 25px;
  transition: all 250ms ease;
}

.about-btn:hover,
.about-btn:focus {
  color: var(--text-white-color);
  background-color: var(--color-accent);
}

/* Prices section */

#prices {
  background-color: var(--dark-text-color);
}
#prices h2 {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--text-white-color);
}

#prices p {
  color: var(--text-light-grey);
}
.price-list.second {
  margin-top: 20px;
}

.price-list {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  padding: 15px;
  border-radius: 3px;
  max-width: 450px;
  margin: 0 auto;
}
.price-list.second {
  background: linear-gradient(180deg, rgba(9, 11, 19, 0.2) 0%, #090b13 100%);
}
.price-item {
  display: flex;
  justify-content: space-between;
  color: var(--text-light-grey);
  align-items: baseline;
}
.price-item:not(:last-child) {
  margin-bottom: 20px;
}
.price-item::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  margin: 0 12px;
  background-color: var(--text-light-grey);
}
.price-item-text {
  order: 1;
}

/* Barbers section */
#barbers {
  background-color: var(--bg-darker-white);
}
#barbers h2 {
  color: var(--dark-title-color);
  margin-bottom: 20px;
  font-size: 30px;
}

.barbers-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.barbers-item:not(:last-child) {
  margin-bottom: 50px;
}

.barbers-social-media {
  display: flex;
  gap: 30px;
}
.barbers-social-media a {
  display: inline-block;
  padding: 35%;
  background-color: var(--bg-white-color);
  border-radius: 50%;
}

.barbers-social-media i {
  font-size: 140%;
  color: #3a3a3a;
  transition: all 250ms ease;
}

.barbers-social-media i:hover {
  color: var(--color-accent);
}

.position {
  color: var(--color-accent);
}

/* Booking section */
#contacts-set {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-black-color);
  gap: 100px;
}

label {
  color: var(--text-light-grey);
}
.form-input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin: 5px 0 15px 0;
  color: var(--bg-darker-white);
  border: 1px solid var(--text-light-grey);
  background-color: transparent;
  cursor: pointer;
  transition: all 250ms ease;
}

.form-input:hover,
.form-input:focus {
  border: 1px solid var(--color-accent);
}

.form-input:not(:focus):not(:placeholder-shown):invalid {
  color: red;
}

.message {
  font-size: 18px;
  width: 100%;
  height: 70px;
  padding: 5px 10px;
  margin: 5px 0 40px 0;
  border: 1px solid var(--text-light-grey);
  color: var(--text-white-color);
  background-color: transparent;
  cursor: pointer;
  transition: all 250ms ease;
}

.message:hover,
.message:focus {
  border: 1px solid var(--color-accent);
}

/* button submit */
.btn-submit {
  display: block;
  width: 160px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  border-radius: 25px;
  margin: 0 auto;
  text-transform: uppercase;
  color: var(--text-white-color);
  background-color: transparent;
  border: 1px solid var(--color-accent);
  transition: all 250ms ease;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: var(--color-accent);
}

/* Contacts section */

#contacts {
  text-align: center;
}
.title-booking,
.title-contacts {
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
  color: var(--text-white-color);
}

.address i {
  margin-right: 10px;
  color: var(--text-light-grey);
}
.address a {
  font-style: normal;
  font-size: 20px;
  color: var(--text-light-grey);
  transition: all 250ms ease;
}

.address a:hover {
  color: var(--color-accent);
}

.location-link {
  font-weight: 600;
}
.contact-list li {
  margin-top: 15px;
}
.contacts-hours-heading {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--text-white-color);
}
.contacts-hours-heading::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: var(--text-light-grey);
}
.contacts-hours {
  color: var(--text-light-grey);
}

/* FOOTER */
.footer {
  display: flex;
  padding: 15px;
  background-color: var(--bg-darker-white);
}
.footer-text {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-text-color);
}
.footer-social-list {
  display: flex;
  gap: 15px;
  margin-left: auto;
  font-size: 14px;
}
.footer-social-item a {
  color: var(--text-grey-color);
  transition: all 250ms ease;
}

.footer-social-item a:hover {
  color: var(--color-accent);
}

/* MEDIA */

/* Media query : large or landscape phones */
@media screen and (min-width: 576px) {
  .container {
    padding: 50px 40px;
  }
  /* Hero */
  #hero {
    padding: 120px 0px 120px 60px;
  }
  #hero h1 {
    font-size: 50px;
  }

  /* Footer */
  .footer-social-list {
    font-size: 18px;
  }
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
  .container {
    padding: 70px 40px;
  }
  /* HEADER */

  #menu-button {
    display: none;
  }
  .header-nav-links {
    position: static;
    display: flex;
    width: auto;
    gap: 20px;
  }

  .header-nav-links li {
    margin-bottom: 0;
    font-size: 120%;
  }

  .header-nav-links a {
    color: var(--text-white-color);
  }

  .header-nav-links a:hover {
    color: var(--color-accent);
  }

  .booking-btn {
    display: inline-block;
    padding: 10px;
    width: 160px;
    text-transform: uppercase;
    border-radius: 25px;
    color: var(--text-white-color);
    border: 1px solid var(--color-accent);
    transition: all 250ms ease;
  }

  .booking-btn:hover {
    background-color: var(--color-accent);
  }

  /* Hero */
  #hero {
    padding-top: 130px;
  }

  #hero h1 {
    font-size: 60px;
  }
  .hero-text {
    font-size: 18px;
    max-width: 360px;
  }
  .hero-pre-title {
    top: 145px;
  }

  /* About */
  #about {
    display: flex;
    gap: 30px;
  }
  .img-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .img-wrap img {
    width: 330px;
    height: 220px;
  }

  /* Prices */
  .price-list {
    padding: 30px;
    flex-grow: 1;
  }
  .prices-content-wrap {
    display: flex;
  }
  .price-list.second {
    margin-top: 0;
    margin-left: 50px;
  }

  /* Contacts set */
  #contacts-set {
    flex-direction: row;
    gap: 30px;
  }
  #contacts {
    width: 50%;
  }
  #booking {
    width: 50%;
  }
  .title-contacts {
    margin-bottom: 60px;
  }
  /* Footer */
  .footer {
    padding: 20px;
  }
  .footer-social-list {
    gap: 50px;
  }
}

/* Large devices media screen(laptops and desktops, 992px and up) */

@media screen and (min-width: 992px) {
  .container {
    padding: 90px 40px;
  }
  /* HEADER */
  header {
    padding: 10px 15px;
  }
  .header-nav-links li:not(:last-child) {
    margin-right: 15px;
  }

  /* Hero */
  #hero {
    padding: 200px 0px 120px 110px;
  }
  .hero-pre-title {
    top: 215px;
  }

  /* About */
  #about {
    display: flex;
    gap: 30px;
  }
  #about h2 {
    font-size: 35px;
  }
  .img-wrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .img-wrap img {
    width: 370px;
    height: 450px;
  }
  /* Prices */
  .price-list {
    max-width: 550px;
  }

  /* Barbers */
  #barbers h2 {
    margin-bottom: 50px;
  }
  .barbers-list {
    display: flex;
    gap: 30px;
  }
  .barbers-item {
    width: calc((100% - 60px) / 3);
  }
  /* Contacts set */
  .form {
    max-width: 550px;
  }
}
