:root {
  --color-accent: #ff6c00;
  --text-grey-color: #555555;
  --text-light-grey: #9da4bd;
  --black-color: #303030;
  --text-white-color: #ffffff;
  --bg-white-color: #ffffff;
  --bg-darker-white: #f7f7f7;
  --dark-title-color: #303030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  font-family: "Open Sans", sans-serif;
  color: var(--black-color);
}
h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}
img {
  display: block;
}
/* HEADER */
header {
  background-color: var(--black-color);
  position: fixed;
  z-index: 99;
  padding: 5px 10px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-button {
  margin: 0 0 0 auto;
}

.header-nav-links {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 100%;
  padding: 5px;
  text-align: right;
  background-color: var(--bg-white-color);
  display: none;
}

#nav-toggle {
  display: none;
}
#nav-toggle:checked ~ ul {
  display: block;
}

.header-nav-links li {
  margin-bottom: 7px;
  color: var(--text-grey-color);
  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}
.booking-btn {
  display: none;
}

.active {
  color: var(--color-accent);
}

/* MAIN */
main {
  background-color: antiquewhite;
  padding-top: 67px;
}
section {
  scroll-margin-top: 71px;
}
/* Hero section */
#hero {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.8),
      rgba(25, 28, 38, 0.8)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 30px;
}

.hero-content {
  padding-top: 115px;
  padding-bottom: 200px;
}
.hero-content h1 {
  margin: 20px 0;
  font-size: 40px;
  color: var(--text-white-color);
}

.hero-pre-title {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--text-light-grey);
}
.hero-text {
  max-width: 325px;
  line-height: 1.7;
  color: var(--text-light-grey);
}
/* About section */
#about {
  padding: 40px 30px;
  background-color: var(--bg-white-color);
}
#about h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--dark-title-color);
}
#about p {
  color: var(--text-grey-color);
  font-size: 16px;
}
.img-wrap {
  display: none;
}
.about-text {
  font-size: 14px;
  line-height: 1.8;
  margin: 20px 0 40px 0;
}
.about-btn {
  padding: 12px 20px;
  color: var(--black-color);
  text-transform: uppercase;
  border: 1px solid var(--color-accent);
  border-radius: 25px;
  &:hover,
  &:focus {
    color: var(--text-white-color);
    background-color: var(--color-accent);
  }
}
/* Prices section */
#prices {
  background-color: var(--black-color);
  padding: 40px 30px;
}
#prices h2 {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--text-white-color);
}

#prices p {
  color: var(--text-light-grey);
}
.price-list.second {
  margin-top: 20px;
}

.price-list {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  padding: 15px;
  border-radius: 3px;
  max-width: 450px;
  margin: 0 auto;
}
.price-item {
  display: flex;
  justify-content: space-between;
  color: var(--text-light-grey);
}
.price-item:not(:last-child) {
  margin-bottom: 20px;
}
/* Barbers section */
#barbers {
  background-color: var(--bg-darker-white);
  padding: 40px 30px;
}
#barbers h2 {
  color: var(--dark-title-color);
  margin-bottom: 20px;
  font-size: 30px;
}

.barbers-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.barbers-item:not(:last-child) {
  margin-bottom: 50px;
}

.barbers-social-media {
  display: flex;
  gap: 30px;
}
.barbers-social-media a {
  display: inline-block;
  padding: 35%;
  background-color: var(--bg-white-color);
  border-radius: 50%;
}

.barbers-social-media i {
  font-size: 140%;
  color: #3a3a3a;
  &:hover {
    color: var(--color-accent);
  }
}

.position {
  color: var(--color-accent);
}
/* FOOTER */
footer {
  background-color: bisque;
  padding-bottom: 285px;
}

/* MEDIA */

/* Media query : large or landscape phones */
@media screen and (min-width: 576px) {
  /* Hero */
  .hero-content {
    padding-top: 150px;
  }
  .hero-content h1 {
    font-size: 50px;
  }
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
  /* HEADER */
  header {
    padding: 10px;
  }
  #menu-button {
    display: none;
  }
  .header-nav-links {
    position: static;
    display: flex;
    background-color: transparent;
    width: auto;
    gap: 20px;
  }

  .header-nav-links li {
    margin-bottom: 0;
    font-size: 120%;
  }

  .header-nav-links a {
    color: var(--text-white-color);
    &:hover {
      color: var(--color-accent);
    }
  }
  .booking-btn {
    display: inline-block;
    color: var(--text-white-color);
    border: 1px solid var(--color-accent);
    padding: 10px;
    text-transform: uppercase;
    transition: all 250ms ease;
    width: 160px;
    border-radius: 25px;
    &:hover {
      background-color: var(--color-accent);
    }
  }
  /* Hero */
  .hero-content {
    padding: 200px 0 100px 100px;
  }
  .hero-content h1 {
    font-size: 60px;
  }
  .hero-text {
    font-size: 18px;
    max-width: 360px;
  }
  /* About */
  #about {
    display: flex;
    gap: 30px;
  }
  .img-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .img-wrap img {
    width: 330px;
    height: 220px;
  }

  /* Prices */
  .price-list {
    padding: 30px;
    flex-grow: 1;
  }
  .prices-content-wrap {
    display: flex;
  }
  .price-list.second {
    margin-top: 0;
    margin-left: 50px;
  }

  /* Barbers */
}

/* Large devices media screen(laptops and desktops, 992px and up) */

@media screen and (min-width: 992px) {
  /* HEADER */
  header {
    padding: 10px 15px;
  }
  .header-nav-links li:not(:last-child) {
    margin-right: 15px;
  }

  /* About */

  #about {
    display: flex;
    gap: 30px;
  }
  #about h2 {
    font-size: 35px;
  }
  .img-wrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .img-wrap img {
    width: 370px;
    height: 450px;
  }
  /* Prices */
  .price-list {
    max-width: 550px;
  }

  /* Barbers */
  #barbers h2 {
    margin-bottom: 40px;
  }
  .barbers-list {
    display: flex;
    gap: 30px;
  }
  .barbers-item {
    width: calc((100% - 60px) / 3);
  }
}
